#iOS
*.xcuserstate
*.xcbkptlist

#IntelliJ
*.iml
.gradle
/local.properties
/.idea
!/.idea/codeStyles/*
!/.idea/inspectionProfiles/*
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx

#Mac
.DS_Store

#Android
/androidApp/build
#Web
/shared/build/
